*{

}

.container{
    width: 900px;
    margin: 0 auto;
}
.form-control{
    width: 100%;
    height: 100%;
    padding: 10px;

}
.form-control button{
    background-color: #e35d0f;
}

.form-control  .login-word{
    color:  #e35d0f;
}



